body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('./Best-Mac-Wallpaper.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(16px);
}


#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    opacity: 1;
}